{% extends 'blog/base.html' %}

{% load static %}

{% block body_class %}bg-light style-default style-rounded{% endblock %}
{% block body %}

    <div class="main-container container my-xl-4" id="main-container">
        <div class="content-box">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" class="btn btn-lg btn-color col-2" value="Сохранить"></p>

            </form>
            <a href="{% url 'blog:change_password' %}">Изменить пароль</a>
        </div>
    </div>
{% endblock %}